@model cp.Models.Livro
@{
    ViewData["Title"] = "Novo Livro";
}

<h2>Novo Livro</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AnoPublicacao"></label>
        <input asp-for="AnoPublicacao" class="form-control" type="number" />
        <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
    </div>

    <h4>Autor</h4>
    <div class="form-group">
        <label>Nome</label>
        <input name="Autor.Nome" class="form-control" />
    </div>
    <div class="form-group">
        <label>Nacionalidade</label>
        <input name="Autor.Nacionalidade" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Voltar</a>
</form>
