@model cp.Models.Livro
<h2>Novo Livro</h2>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="AnoPublicacao"></label>
        <input asp-for="AnoPublicacao" class="form-control" />
    </div>
    <fieldset>
        <legend>Autor</legend>
        <div class="mb-3">
            <label asp-for="Autor.Nome"></label>
            <input asp-for="Autor.Nome" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Autor.Nacionalidade"></label>
            <input asp-for="Autor.Nacionalidade" class="form-control" />
        </div>
    </fieldset>
    <button class="btn btn-success" type="submit">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
